<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Log_File_Path" value="Logs"/>
  </appSettings>

  <connectionStrings>
    <add name="Connection" connectionString="Initial Catalog=DynData;Data Source=dyndata.cijqmf2bbimd.us-east-1.rds.amazonaws.com,1433;Password=Aug312016;User ID=admin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Auction" sendTimeout="10:00:00" receiveTimeout="10:00:00" openTimeout="10:00:00">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://lkqintegrationqc.ekeyconnect.com/Auction.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Auction" contract="DDRAuction.Auction" name="BasicHttpBinding_Auction"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
