<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Log_File_Path" value="Logs" />
    <add key="Image_File_Path" value="Images"/>
    <add key="Log_Type" value="Error" />  <!--Error or Info-->
    <add key="TimeInterval" value="600000" />
    <add key="Key" value="d41d2f52-ee5b-4750-ad00-6b74ef9a1c50"/>
    <add key="ParnerId" value="43" />
    <!-- QA Env-->
    <!--<add key="Key" value="8e37acab-e44a-4fec-8509-3a469dd8ec08"/>-->
    <!--<add key="ParnerId" value="103" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="Initial Catalog=DynData;Data Source=dyndata.cijqmf2bbimd.us-east-1.rds.amazonaws.com,1433;Password=Aug312016;User ID=admin" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Auction" openTimeout="10:00:00"
          receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Image" openTimeout="10:00:00"
          receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://lkqintegration.ekeyconnect.com/Auction.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Auction"
        contract="DDRAuction.Auction" name="BasicHttpBinding_Auction" />
      <endpoint address="https://lkqintegration.ekeyconnect.com/Image.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Image"
        contract="LKQImage.Image" name="BasicHttpBinding_Image" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>